.header{
    background-color:#333;
    position: fixed;
    width: 100%;
}

.header_introduce{
    background-color:#333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 32px;
}

.contact{
    padding-right: 10px;
    flex: 1;
    font-size: 16px;
    line-height: 16px;
}

.contact_icon{
    padding-left: 5px;
    color: #fff;
}

.notice{
    width: 81.9%;
    height: 100%;

}

.notice marquee{
    height: 100%;
    line-height: 32px;
}

.header_container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color:#333;
    color: #fff;
}

.header_logo{
    display: inline-block;
    /* width: 200px; */
}

.header_logo img {
    width: 200px;
    height: 70px;
}

.header_search-wrap{
    width: 700px;
}

.header_search{
    display: flex;
    height: 32px;
    margin-bottom: 10px;
}

.header__search-input{
    width: 600px;
    outline: none;
    /* border-radius: 2px; */
}

.header__search-btn{
    flex: 1;
    cursor: pointer;
    /* border-radius: 2px; */
}

.header__search-btn-icon{

}


.header_login{
    display: flex;
    /* width: 120px; */
    align-items: center;
    font-size: 14px;
    padding: 5px;
    margin-bottom: 24px;
}

.header_login{
    color: #fff;
    font-size: 14px;
    position: relative;
}


.header_login:hover {
    color: rgb(0, 255, 255);
}

.login,.account{
    line-height: 20px;
    cursor: pointer;
}

.acconut_list{
    background-color: #fff;
    position: absolute;
    top :100%;
    
    /* display: inline-block; */
    width: 400px;
}

.account_item{
    box-sizing: border-box;
}

.account_item li {
    width: 95%;
    padding: .5rem .25rem;
}

.account_item button{
    width: 100%;
    display: block;
    margin: 5px auto;   
}

.icon_user{
    width: 28px;
    font-size: 28px;
    margin-right: 4px;
}

.login-account{
    display: flex;
    flex-direction: column;
}

.header_cart{
    text-align: center;
    width: 100px;
    font-size: 14px;
    position: relative;
    margin-bottom: 26px;
    cursor: pointer;
}

.header_cart:hover{
    color: rgb(0, 255, 255);
}

.header__cart-icon{
    font-size: 24px;
}

.header__cart-notice{
    top: -10px;
    left: 20px;
    border: 2px solid #000;
    position: absolute;
    background-color: #fff;
    color: #000;
    border-radius: 40%;
    width: 20px;
    text-align: center;
}

.navbar_menu{
    display: flex;
    width: 500px;
}

.navbar_item {
    position: relative;
}

.navbar_item a{
    color: #fff;
    line-height: 14px;
    font-size: 14px;
    padding-right: 35px;
} 

.navbar_item:hover > a{
    color: rgb(0, 255, 255);
}

.navbar_item:hover .sub-navbar_menu{
    display: block;
}

.sub-navbar_menu{
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    border: 1px solid #0000003b;
    box-shadow: 0 0 4px #333;
    border-radius: 2px;
    width: 140px;
    top: 150%;
}

.sub-navbar_menu::before{
    content: "";
    width: 100px;
    height: 20px;
    border-style: none;
    border-color: transparent ;
    position: absolute;
    left: 0px;
    top :-10px;
}

.sub-navbar_menu::after{
    content: "";
    border-width: 8px 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    left: 0px;
    top :0;
    transform: translateY(-100%);
}


.sub-navbar_item{
    border-bottom: 1px solid #0000003b;
}

.sub-navbar_item:hover a{
    color: #000;
}

.sub-navbar_item a{
    display: block;
    line-height: 30px;
    font-size: 14px;
    padding: 0 10px;
    color: #000;
}

.sub-navbar_item:last-child{
    border-bottom: none;
}

.sub-navbar_item:hover{
    background-color: #0000003b;
}
